<!DOCTYPE html>
<html>
  <head>
    <title>RailsTaskManager</title>
    <%# <link rel="stylesheet" href="https://kit.fontawesome.com/f6339c2961.css" crossorigin="anonymous"> %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
